*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

h1{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

h1:hover{
    color: rgb(160, 116, 137);
}

.scelta{
    justify-content: center;
    margin-top: 80px;
}

.scelta button{
    width: 75px;
    margin-left: 20px;
    padding: 5px 5px;
    background-color: rgb(249, 226, 238);
    cursor: pointer;
    border: 1px solid rgb(255, 188, 255);
    border-radius: 5px;
}

.main{
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.container{
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: rgb(222, 159, 191);
}

.quadrato{
    width: 10%;
    border: 1px solid white;
}

.quadrato:active{
    background-color: blueviolet;
}